{% extends 'base.html' %}

{% block title %}Category{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h4 class="text-decoration-underline h1 mt-3 text-dark">Categories</h4>
                    </div>
                </div>
                <div class="row">
                    {% for category in categories %}
                    <div class="col-lg-3 mt-4">
                        <a href="{% url 'category_filter' category.cat_slug %}" class="text-decoration-none">
                            <div class="card shadow-sm">
                                <div class="card-body py-4 text-dark text-decoration-none text-center">
                                    {{ category.cat_name }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}