{% extends 'base.html' %}

{% block title %}[Search keyword]{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <h3>Search Result for query <span class="text-success">"key"</span></h3>
                <h5 class="text-danger">4 Results found:</h5>
                
                <div class="row mt-4">
                    <div class="col-lg-11 mx-auto">
                        <div class="card">
                            <div class="card-body pt-1 pb-2">
                                <h2 class="display-6"><a href="" class="text-muted text-decoration-none"><strong>This is Heading for testing</strong></a></h2>
                                <span class="badge rounded-pill bg-success mt-1 mb-2">May 24, 2021</span>
                                <p class="small mb-2">
                                    <strong>Tags: </strong>
                                    <a href="" class="text-primary">Sperts</a>
                                    <a href="" class="text-primary">Game</a>
                                    <a href="" class="text-primary">Fittness</a>
                                    <a href="" class="text-primary">Ollampics</a>
                                    <a href="" class="text-primary">Sperts</a>
                                    <a href="" class="text-primary">Game</a>
                                    <a href="" class="text-primary">Fittness</a>
                                    <a href="" class="text-primary">Ollampics</a>
                                </p>
                                <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus ad odio vero sed impedit. Culpa aperiam cumque similique id optio consequuntur saepe quis in facilis, unde incidunt, dolorum quam provident distinctio et quo voluptates tempore sapiente deleniti accusamus dolore enim?</p>
                                <a href="" class="btn btn-sm btn-warning">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}